workspace/notebooks/iris/executions/*
workspace/notebooks/.ipynb_checkpoints
workspace/data/raw/*
workspace/data/cleaned/*
workspace/data/curated/*
airflow/logs/*
venv
.idea
workspace/utils/jars/*
.ipynb_checkpoints
/airflow/dags/__pycache__/